@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Gravitas+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Geologica", serif;
}

.breadcrumb {
    list-style: none;
    padding: 0;
}

.search {
    position: relative;
    margin: 0 auto;
    margin-top: -20px;
    /* width: 90%; */
    width: 80%;

    border-radius: 15px;
    box-shadow: 0 0 0 10px rgba(91, 153, 194, 0.15), 0 2px 48px 0 rgba(91, 153, 194, 0.04);

    @media (max-width: 1400px) {
        /* Replace xxl with an approximate breakpoint, e.g., 1400px */
        width: 90%;
    }

    @media (max-width: 1200px) {
        /* Replace xl with an approximate breakpoint, e.g., 1200px */
        width: 95%;
    }
}

.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.large-image {
    grid-column: span 4;
    aspect-ratio: 16 / 9;
}

.small-image {
    aspect-ratio: 1 / 1;
}

.see-more-btn,
.see-less-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.see-more-btn:hover,
.see-less-btn:hover {
    background-color: #0056b3;
}




.rating-header {
    gap: 15px;
}

.rating-header .score {
    font-size: 6rem;
}

.rating-header .review-text {
    font-size: 2.5rem;
    font-weight: bold;
}

.review-slider {
    gap: 20px;
}

.review-card-container {
    display: flex;
    overflow: hidden;
    gap: 15px;
}

.review-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.review-card .profile-pic {
    background-color: #ddd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.review-card .name {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.review-card .comment {
    color: #555;
    font-size: 1.1rem;
}

.location-icon {
    width: 15px;
}

.star-icon,
.star-half-icon,
.star-half-yellow-icon {
    width: 25px;
    margin-right: 10px;
    margin-bottom: 15px;
}