@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Gravitas+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Geologica", serif;
}

.breadcrumb {
    list-style: none;
    padding: 0;
}

.search {
    position: relative;
    margin: 0 auto;
    margin-top: -20px;
    /* width: 90%; */
    width: 80%;

    border-radius: 15px;
    box-shadow: 0 0 0 10px rgba(91, 153, 194, 0.15), 0 2px 48px 0 rgba(91, 153, 194, 0.04);

    @media (max-width: 1400px) {
        /* Replace xxl with an approximate breakpoint, e.g., 1400px */
        width: 90%;
    }

    @media (max-width: 1200px) {
        /* Replace xl with an approximate breakpoint, e.g., 1200px */
        width: 95%;
    }
}

.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.large-image {
    grid-column: span 4;
    aspect-ratio: 16 / 9;
}

.small-image {
    aspect-ratio: 1 / 1;
}

.see-more-btn,
.see-less-btn {
    margin-top: 25px;
    padding: 8px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.see-more-btn:hover,
.see-less-btn:hover {
    background-color: #0056b3;
}

.reviews-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.review-card {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    width: 350px;
}


.rating-header {
    gap: 15px;
}

.rating-header .score {
    font-size: 6rem;
}

.rating-header .review-text {
    font-size: 2.5rem;
    font-weight: bold;
}

.review-slider {
    gap: 20px;
}

.review-card-container {
    display: flex;
    overflow: hidden;
    gap: 15px;
}

.avatar-image {
    background-color: #ddd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.location-icon {
    width: 20px;
}

.star-icon, .star-gray-icon {
    width: 25px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.heart-icon {
    width: 40px;
}

.hotel-card_favorite {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    width: 80px;
    height: 80px;

    border: none;
    outline: none;

    border-radius: 999px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.14);

    transition: background-color 0.3s ease;
}

.hotel-card_favorite:hover {
    background-color: #f5f5f5;
}

.hotel-card_favorite-icon {
    width: 50px;
    height: 50px;
}