@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

:root {
    --primary-color: #ecfafb;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Geologica", sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}
