.homepage__slider {
    padding-top: 50%;

    position: relative;
    display: flex;
    align-items: center;
    text-align: center;

    overflow: hidden;
    width: 100%;

    border-radius: 10px;

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        padding-top: 50%;

        border-radius: inherit;

        background-color: rgba(0, 0, 0, 0.4);
    }

    &-image-wrap {
        flex-shrink: 0;
        width: 100%;

        padding-top: 50%;

        // position: relative;
        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;

        border-radius: inherit;

        transition: transform 5s ease, opacity 5s ease;

        &.activeSlide {
            opacity: 1;
            transform: translateX(0);
        }

        &.lastSlide {
            transform: translateX(-100%);
        }

        &.nextSlide {
            transform: translateX(100%);
        }
    }

    &-image {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border-radius: inherit;

        object-fit: cover;
    }
}

.homepage__slider-nav {
    position: absolute;
    left: 50%;
    bottom: 60px;

    user-select: none;

    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &-item {
        display: inline-block;

        width: 10px;
        height: 10px;

        border-radius: 50%;
        background-color: #d9d9d9cc;
        opacity: 0.8;

        cursor: pointer;

        &--active {
            background-color: #fff;
            opacity: 0.9;
        }
    }
}

.homepage__title {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    max-width: 600px;

    text-align: center;
    font-size: 5.6rem;
    color: #fff;
    font-weight: 800;
}

.homepage__search-bar {
    position: relative;
    margin: 0 auto;
    margin-top: -20px;
    width: 90%;

    border-radius: 30px;
    box-shadow: 0 0 0 10px rgba(91, 153, 194, 0.15), 0 2px 48px 0 rgba(91, 153, 194, 0.04);
}

.homepage__top-destination {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    padding: 50px 0;

    border-radius: 15px;
    background: #fff;

    .homepage__top-destination-title {
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }

    .homepage__top-destination-list {
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        display: flex;
        padding: 0 20px;
        gap: 30px;
        justify-content: center;
    }
}

.destination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .destination-item__image {
        width: 150px;
        height: 150px;

        border-radius: 999px;
        object-fit: cover;

        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}
