{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "test": "./test",
                    "~": "./src"
                }
            }
        ]
    ]
}
